input,
textarea,
label {
	color: #ffffff !important;
}

input,
textarea {
	font-size: small;
	background-color: #0000001a;
}
.form-control:focus {
	background-color: transparent;
}

.form-floating > label {
	padding: 1rem;
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
	background-color: transparent;
}

@media (max-width: 900px) {
	form {
		width: 100% !important;
	}
}

@media (min-width: 900px) {
	.col-md {
		flex: 1 0 0%;
	}
}
