<div id="about" class="d-flex justify-content-center align-items-center gap-5">
	<div class="w-50" id="description">
		<h1>Wiris Wernek</h1>
		<h4 class="mt-2 mb-3">Desenvolvedor Full Stack</h4>
		<p>
			Olá, prazer em conhece-lo, me chamo Wiris, tenho {{ idade }} anos, trabalho como desenvolvedor há mais de 2 anos e sou aluno do curso de Análise e Desenvolvimento de Sistemas no IFES. Sou apaixonado por tecnologia e desenvolvimento e realmente amo programar.
		</p>
		<p>

		</p>
	</div>
	<div class="" id="profile-image">
		<img src="/assets/images/profile.png" alt="Imagem de perfil" width="300rem" />
	</div>
</div>
