#social {
	flex-direction: column;
	max-width: 70%;
}

#links{
	flex-wrap: wrap !important;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media (max-width: 600px) {
	img{
		width: 4rem;
	}
	span{
		display: none;
	}
}