<div id="social" class="d-flex justify-content-center align-items-center gap-5">
	<h4>Redes Sociais</h4>
	<div id="links" class="d-flex justify-content-center align-items-center gap-5">
		<a class="social-button" href="https://www.instagram.com/wiriswernek/" target="_blank">
			<img width="60rem" src="/assets/icons/linkedin.png" loading="eager" alt="Ícone do Instagram" />
			<span class="">Linkedin</span>
		</a>
		<a class="social-button" href="https://github.com/WirisWernek" target="_blank">
			<img width="60rem" src="/assets/icons/github.png" loading="eager" alt="Ícone de Github" />
			<span class="">Github</span>
		</a>
		<a class="social-button" href="https://www.instagram.com/wiriswernek/" target="_blank">
			<img width="60rem" src="/assets/icons/instagram.png" loading="eager" alt="Ícone do Instagram" />
			<span class="">Instagram</span>
		</a>
		<a class="social-button" href="https://www.instagram.com/wiriswernek/" target="_blank">
			<img width="60rem" src="/assets/icons/mail.png" loading="eager" alt="Ícone do Instagram" />
			<span class="">Email</span>
		</a>
		<a class="social-button" href="https://www.instagram.com/wiriswernek/" target="_blank">
			<img width="60rem" src="/assets/icons/visit-card.png" loading="eager" alt="Ícone do Instagram" />
			<span class="">Cartão de Visitas</span>
		</a>
	</div>
</div>
