<div id="social" class="d-flex justify-content-center align-items-center gap-5">
	<h4>Redes Sociais</h4>
	<div id="links" class="d-flex justify-content-center align-items-center gap-5">
		<a *ngFor="let socialLink of socialLinks$ | async" class="social-button" [href]="socialLink.url" target="_blank" placement="bottom" [ngbTooltip]="socialLink.nome">
			<img width="60rem" [src]="socialLink.icon" loading="eager" [alt]="socialLink.alt" />
			<span class="">{{socialLink.nome}}</span>
		</a>
	</div>
</div>
