span{
	margin-top: .6rem;
	font-size: .8rem;
	display: none;
}

a{
	color: aliceblue;
}

#social {
	flex-direction: column;
	max-width: 70%;
}

#links{
	flex-wrap: wrap !important;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media (max-width: 600px) {
	img{
		width: 4rem;
		margin-bottom: 1rem;
	}
	span{
		display: block;
	}
	#social{
		max-width: 80% !important;
	}
}