#project {
	flex-direction: column;
}

img{
	width: 50rem;
}

.card{
	border: none;
	background-color: transparent;
	color: aliceblue;
}

@media (max-width: 700px) {
	.carousel-indicators{
		display: none !important;
	}
	.carousel-caption{
		bottom: .6rem;
	}
	.card{
	}
	img{
		width: 25rem;
	}
}