<div class="container justify-content-center">
	<h3 class="text-center">Experiências</h3>
	<div class="row justify-content-center align-items-center mt-5">
		<div class="d-flex justify-content-center align-items-center">
			<ul class="timeline">
				<li class="mb-4">
					<p class="fs-5">Desenvolvedor Full Stack</p>
					<p>Desde Junho de 2022</p>
					<ul>
						<li>Desenvolvimento e manutenção de APIs REST com Java e Spring Boot</li>
						<li>Desenvolvimento e manutenção de aplicações Web com Angular</li>
						<li>Implementação de integrações com serviços de parceiros</li>
						<li>Documentação de APIs com Swagger</li>
						<li>Treinamento da 6ª turma de estagiários do Programa Itix UP</li>
					</ul>
				</li>
				<li class="mb-4">
					<p class="fs-5">Estagiário</p>
					<p>Março de 2022 - Junho de 2022</p>
					<ul>
						<li>Capacitação em desenvolvimento de APIs REST com Java EE e Spring Boot</li>
						<li>Capacitação em desenvolvimento de aplicações web com Angular</li>
					</ul>
				</li>
				<li>
					<p class="fs-5">Estudante de Graduação</p>
					<p>Fevereiro de 2020 - Dezembro de 2024</p>
					<p>
						Aluno do curso de graduação em Tecnologia em Análise e Desenvolvimento de Sistemas
						pelo Instituto Federal de Educação, Ciência e Tecnologia do Espírito Santo(IFES).
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
