ul.timeline {
    list-style-type: none;
    position: relative;
	color: #d4d9df;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #2e3440;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #d4d9df;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.timeline{
	width: 90%;
}

div.d-flex{
	padding-left: 0 !important;
}

@media (min-width: 768px){
	.timeline{
		width: 70%;
	}
}